body, html { font-family: 'Google Sans', sans-serif; font-style: normal; font-weight: 500; font-size: 18px; line-height: 26px; color: #5f6368; margin: 0; -moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased; margin: 0 auto;}

.centered {
  position: fixed;
  /*top: calc(5% + 170px);*/
  top: 145px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.centered2 {
  position: fixed;
  /*top: calc(5% + 100px);*/
  top: 45px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#life {
  padding: 30px;
  position: fixed;
}
#timer {
  position: fixed;
      margin-top:0px;
      float:right;
      right:0px;
      top:0px;
      padding: 30px;
 
}

#myScore
{
  width: 100px;
	height: 100px;
  letter-spacing: -5px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  z-index: 100;
}
.count
{
  line-height: 100px;
  letter-spacing: -5px;
  color: #202124;
  font-size:calc(150px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
